.pic-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0px;
}
  
  /* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 33.3%;
  padding: 0 4px;
}
  
.column .imgContainer {
  position: relative;
  margin-top: 8px;
  cursor: pointer;
  transition: 0.3s linear;
}

.imgContainer img {
  display: block;
  width: 100%;
  filter: grayscale(1) brightness(0.5);
  /* border-radius: 5px; */
}

.column img:hover {
  filter: grayscale(0);
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .column img {
    filter: grayscale(0) brightness(1);
  }
}

.imgContainer .viewButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.imgContainer:hover .viewButton {
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .imgContainer .viewButton {
    opacity: 1;
  }
}
  

/* Modal  */
.modal-dialog {
  width: 80vw !important;
  margin: 0;
  margin: 20px 10vw;
}

.modal-content {
  font-family: 'Open Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Raleway', sans-serif; */
  width: 80vw !important;
  margin: 20px auto;
  border-radius: 0;
  border: 0;
}

@media screen and (max-width: 600px) {
  .modal-dialog {
    width: 100vw !important;
    margin: 0;
  }

  .modal-content {
    width: 95vw !important;
    margin: 20px auto;
  }
}

.input-group input {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  border: 1px solid black !important;
  border-radius: 0 !important;
  border-right: 0 !important;
}

.input-group button {
  color: #EEC40E;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 0 !important;
  border: 1px solid black !important;
}

.input-group button:hover {
  background-color: #EEC40E !important;
  color: white !important;
}

.my-dropdown-toggle::after {
  content: none;
}

.badge {
  color: white !important;
  padding: 0.5em;
}

.badge:hover {
  cursor: pointer;
  filter: grayscale(0.5);
}

.badge.active {
  filter: grayscale(0.5);
}