#servicesSection{
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Raleway', sans-serif;
    background-color: #f5f5f5;
}

.servicesMainHeading {
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Raleway', sans-serif; */
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2.5px;
    margin-bottom: 25px;
    margin-top: 10%;
    line-height: 1;
    text-align: center;
}

.sectionHeading {
    width: 50px;
    height: 2px;
    background-color: #EEC40E;
    margin: 0 auto;
    margin-bottom: 4%;
}

.service i {
    font-size: 40px;
}

.serviceHead {
    font-weight: 800;
    letter-spacing: 0.5px;
}