@media only screen and (max-width: 600px) {
    .fam-main {
        display: none;
    }
}

.fam-main {
    width: 100vw;
    margin: 0 -1rem;
    background-color: #1e1e1e;
    padding: 8.75rem 4rem;
    position: relative;
    margin-top: 15%;
}

@media only screen and (max-width: 1000px) {
    .fam-main {
        display: none;
    }
}

.section-heading {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 4.2rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: left;
    color: #e7e7e7;
}

.fam-section-desc {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem/2rem;
    letter-spacing: 0.8px;
    margin-top: 1.5rem;
    color: lightgray;
}

.cards-container {
    position: absolute;
    top: -8rem;
    left: 25%;
    overflow: hidden;
}

.fs-card {
    width: 15rem;
    height: 18.75rem;
    box-shadow: 0 2px 17px rgb(0 0 0 / 6%);
    position: relative;
    background-color: #fff;
}

.fs-img {
    display: block;
    width: 100%;
    height: 70%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.fs-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    color: #3d3d3d;
    margin: 1.5rem auto 0 1.5rem;
}

.fs-role {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #939292;
    margin: 0 auto 1.25rem 1.5rem;
}

.fs-status {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    color: #EEC40E;
    padding: .625rem .75rem;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgb(0 0 0 / 8%);
    position: absolute;
    top: 62%;
    left: .75rem;
}
