.carousel-inner {
    height:90vh;
}

.carousel-item img {
    object-fit: cover !important;
    height: 90vh;
    width: 100%;
}

.carousel-caption {
    position: sticky;
    right: 15%;
    bottom: 45%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.carousel-caption h5 {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    background-color: rgba(0,0,0,0.8);
    padding: 10px;
    font-size: 3em !important;
    font-weight: 600;
    /* text-transform: uppercase; */
}

.carousel-caption p {
    display: inline-block;
    background-color: rgba(0,0,0,0.8);
    padding: 10px;
    font-size: 1.3em;
}