body {
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-open-sans {
  font-family: 'Open Sans', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-raleway {
  font-family: 'Raleway', sans-serif;
}
